@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

/* * {
  font-family: 'Fredoka', sans-serif;
} */

body {
  font-family: 'Fredoka', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

.fredoka-font {
  font-family: 'Fredoka', sans-serif !important;
}

.fredoka-one-font {
  font-family: 'Fredoka One', cursive !important;
}

/* Add this to your global CSS */
.shine-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(25deg);
  pointer-events: none;
  z-index: 20;
  animation: shine 4s infinite;
}

@keyframes shine {
  0% {
    transform: rotate(25deg) translate(-100%, -100%);
  }
  100% {
    transform: rotate(25deg) translate(100%, 100%);
  }
}


.reports-section .swiper-wrapper {
  transition-timing-function: ease-in-out !important;
}